<div class="wrapper" *ngIf="isLoaded">
    <div class="d-flex" id="wrapper">
        <section class="bg-light border-right leftMenu" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
            <div class="sidebar-heading">
                <button class="btn btn-primary toggleCustomButton" (click)="clickEvent()"><i
                        class="bi bi-list"></i></button>
            </div>
            <ul class="list-group list-group-flush firstLevelItem"
                *ngFor="let firstLevelItem of workUnitsData; index as i;">
                <li class="list-group-item list-group-item-action bg-light">
                    <a href="#" class="list-group-item list-group-item-action bg-light" 
                    [ngClass]="{'selected': isOpenSecondLevelMenu['line' + i]}"
                    (click)="openSecondLevelMenu(i)">
                        <i class="bi bi-dash-square-fill"></i>
                        {{firstLevelItem.bailiffName}}</a>
                    <ul class="secondLevelItem hide" [ngClass]="{'hide': !isOpenSecondLevelMenu['line' + i]}"
                        *ngFor="let secondLevelItem of workUnitsData[i].debtors; index as j;">
                        <li class="list-group-item list-group-item-action bg-light">
                            <a href="#" class="list-group-item list-group-item-action bg-light"
                            [ngClass]="{'selected': isOpenThirdLevelMenu['line' + i + j]}"
                                (click)="openThirdLevelMenu(i, j)">
                                <i class="bi bi-dash-square-fill"></i>
                                {{secondLevelItem.name}}</a>
                            <ul class="thirdLevelItem hide" [ngClass]="{'hide': !isOpenThirdLevelMenu['line' + i + j]}"
                                *ngFor="let thirdLevelItem of workUnitsData[i].cases; index as z;">
                                <li class="list-group-item list-group-item-action bg-light">
                                    <a href="#" class="list-group-item list-group-item-action bg-light"
                                    [ngClass]="{'selected': isPersonSelected['case' + i + j + z]}"
                                    (click)="loadTableData(i, j, z)">
                                        <i class="bi bi-dash-square-fill"></i>
                                        {{thirdLevelItem.package}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <main id="page-content-wrapper" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary mobileToggleCustom" (click)="clickEvent()">
                            <i class="bi bi-list"></i></button>
                    </div>
                    
                    <button class="col-sm-3 btn btn-primary">BUTTON</button>
                </div>
                <div class="row">
                    <div class="col">
                        <table>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Total sesions</th>
                                <th>Total bets</th>
                                <th>Total wins</th>
                            </tr>
                            <!-- <tr *ngFor="let item of gamePortfolio; index as i;">
                              <td>{{item.id}}</td>
                              <td>{{item.name}}</td>
                              <td>{{item.status}}</td>
                              <td>{{item.totalSessions}}</td>
                              <td>{{item.totalBets}}</td>
                              <td>{{item.totalWins}}</td>
                            </tr> -->
                          </table>
                    </div>
                </div>
            </div>
        </main>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</div>