<div class="wrapper" *ngIf="isLoaded">
    <div class="d-flex" id="wrapper">
        <!-- <i class="bi-alarm"></i>
            <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
            <i class="bi bi-star-fill"></i> -->
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
            <div class="sidebar-heading">
                <button class="btn btn-primary toggleCustomButton" (click)="clickEvent()"><i
                        class="bi bi-list"></i></button>
            </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
            </div>
            <!-- <div class="list-group list-group-flush" *ngFor="let firstLevelItem of workUnitsData; index as i;">
                <i class="bi bi-minus"></i>
                <a href="#" class="list-group-item list-group-item-action bg-light">{{firstLevelItem.bailiffName}}</a>
                <div class="" *ngFor="let secondLevelItem of secondlevelMenu[i]; index as j;">
                    <a href="#" class="list-group-item list-group-item-action bg-light">{{secondLevelItem.name}}</a>
                    <div class="" *ngFor="let thirdLevelItem of thirdlevelMenu[i]; index as z;">
                        <a href="#" class="list-group-item list-group-item-action bg-light">{{thirdLevelItem.package}}</a>
                    </div>
                </div>
                
            </div> -->
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary mobileToggleCustom" (click)="clickEvent()">
                            <i class="bi bi-list"></i></button>
                    </div>
                    <label class="col-sm-3">Main Color</label>
                    <div class="col-sm-3">
                        <input [(ngModel)]="mainData.mainColor" type="text" [maxlength]="7"
                            class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" [(colorPicker)]="mainData.mainColor"
                            [style.background]="mainData.mainColor" />
                    </div>
                    <button class="col-sm-3 btn btn-primary">BUTTON</button>
                </div>
                <div class="row">
                    <div class="col">
                        <table>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</div>