<div class="wrapper" *ngIf="isLoaded">
    <div class="d-flex" id="wrapper">
        <section class="bg-light border-right leftMenu" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
            <div class="sidebar-heading">
                <button class="btn btn-primary toggleCustomButton" (click)="clickEvent()"><i
                        class="bi bi-list"></i></button>
            </div>
            <ul class="list-group list-group-flush firstLevelItem"
                *ngFor="let firstLevelItem of workUnitsData; index as i;">
                <li class="list-group-item list-group-item-action bg-light">
                    <a href="#" class="list-group-item list-group-item-action bg-light"
                        [ngClass]="{'selected': isPhysicalPersonSelected['line' + i]}" (click)="openSecondLevelMenu(i)">
                        <i class="bi bi-dash-square-fill"></i>
                        {{firstLevelItem.bailiffName}}</a>
                    <ul class="secondLevelItem hide" [ngClass]="{'hide': !isOpenSecondLevelMenu['line' + i]}"
                        *ngFor="let secondLevelItem of workUnitsData[i].debtors; index as j;">
                        <li class="list-group-item list-group-item-action bg-light">
                            <a href="#" class="list-group-item list-group-item-action bg-light"
                                [ngClass]="{'selected': isPersonSelected['line' + i + j]}"
                                (click)="openThirdLevelMenu(i, j, secondLevelItem.workUnitId)">
                                <i class="bi bi-dash-square-fill"></i>
                                {{secondLevelItem.name}}</a>
                            <ul class="thirdLevelItem hide" [ngClass]="{'hide': !isOpenThirdLevelMenu['line' + i + j]}"
                                *ngFor="let thirdLevelItem of workUnitsData[i].cases; index as z;">
                                <li class="list-group-item list-group-item-action bg-light">
                                    <a href="#" class="list-group-item list-group-item-action bg-light"
                                        [ngClass]="{'selected': isCaseSelected['line' + i + j + z]}"
                                        (click)="selectCase(i, j, z, thirdLevelItem.workUnitId)">
                                        <i class="bi bi-dash-square-fill"></i>
                                        {{thirdLevelItem.package}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <main id="page-content-wrapper" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col mobileToggleCustom">
                        <button class="btn btn-primary" (click)="clickEvent()">
                            <i class="bi bi-list"></i></button>
                    </div>
                </div>
                <div class="row">
                    <!-- PersonAdrressesTable -->
                    <div class="col" *ngIf="showAddressesTable && !showCaseInfoTable">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Действия</th>
                                    <th scope="col">Град</th>
                                    <th scope="col">Адрес</th>
                                    <th scope="col">Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allAddressesOfPerson.addresses; index as i;">
                                    <td>
                                        <a class="editButton w-100" (click)="editOrAddRow(i)">
                                            <i class="bi bi-pencil-square"></i>
                                            <span>Редактирай</span>
                                        </a>
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.settlementName" type="text"
                                            [maxlength]="50" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.settlementName}">
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.address" type="text"
                                            [maxlength]="50" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.address}">
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="item.checkboxStatus">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- CaseInfoTable -->
                    <div class="col" *ngIf="showCaseInfoTable && !showAddressesTable">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">debtor</th>
                                    <th scope="col">date</th>
                                    <th scope="col">package</th>
                                    <th scope="col">boughtAmount</th>
                                    <th scope="col">boughtAmountCurr</th>
                                    <th scope="col">paidAmount</th>
                                    <th scope="col">paidAmountCurr</th>
                                    <th scope="col">dueAmount</th>
                                    <th scope="col">dueAmountCurr</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of selectedCasesInfo.case; index as i;">
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.debtor" type="text"
                                            [maxlength]="50" [readonly]="true" [ngClass]="{'emptyField': !item.debtor}">
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.date" type="text"
                                            [maxlength]="10" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.date}">

                                        <!-- <mat-form-field>
                                            <input matInput [matDatepicker]="item.date">
                                            <mat-datepicker-toggle matIconSuffix [for]="item.date"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field> -->
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.package" type="text"
                                            [maxlength]="50" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.package}">
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.boughtAmount.amount" type="text"
                                            [maxlength]="50" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.boughtAmount.amount}">
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.boughtAmount.currency" type="text"
                                            [maxlength]="50" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.boughtAmount.currency}">
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.paidAmount.amount" type="text"
                                            [maxlength]="50" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.paidAmount.amount}">
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.paidAmount.currency" type="text"
                                            [maxlength]="50" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.paidAmount.currency}">
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.dueAmount.amount" type="text"
                                            [maxlength]="50" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.dueAmount.amount}">
                                    </td>
                                    <td>
                                        <input class="form-control" [(ngModel)]="item.dueAmount.currency" type="text"
                                            [maxlength]="50" [readonly]="true"
                                            [ngClass]="{'emptyField': !item.dueAmount.currency}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- EMPTY ADRESS Table -->
                    <div class="col" *ngIf="!showCaseInfoTable && !showAddressesTable">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Действия</th>
                                    <th scope="col">Град</th>
                                    <th scope="col">Адрес</th>
                                    <th scope="col">Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        Click on a Person of the left side menu to load the adreses or Case to load
                                        cases.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-2" *ngIf="showAddressesTable && !showCaseInfoTable">
                    <div class="col">
                        <button class="btn btn-primary" (click)="addNewRow()">
                            Добави
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</div>
<app-add-edit-row *ngIf="modals.isEditOrAddOpened" [rowData]="rowData" [modals]="modals"></app-add-edit-row>