
<!-- first lesson simple dropdowns with hover effects for the kids -->
<!-- <app-lesson-one-simple-website></app-lesson-one-simple-website> -->

<!-- few cool looking CSS 3d animations with only CSS -->
<!-- <app-cool-hover-animation></app-cool-hover-animation> -->

<!-- css variables and dynamic changes of them -->
<!-- <app-dynamic-csschanges-color></app-dynamic-csschanges-color> -->

<!-- back-end services and Observable snd promises -->
<app-second-project></app-second-project>


<!-- <app-first></app-first> -->

<router-outlet></router-outlet>
