<div class="wrapper">
    <div class="card">
        <div class="sylvanas">
            <div class="invisibleBorder"></div>
            <!-- <img class="logo"
                src="https://banner2.cleanpng.com/20180704/spg/kisspng-warcraft-iii-the-frozen-throne-starcraft-brood-w-frozen-throne-5b3d6af4ad9522.854820551530751732711.jpg"
                alt="WORLD of WAR CRAFT logo" /> -->

            <img class="bg-image" src="../../../assets/images/sylvanasBack.jpg" alt="sylvanas" />
            <img class="front-image" src="../../../assets/images/sylvanasF1.png" alt="sylvanas" />
        </div>
    </div>
    <div class="card">

        <div class="arthas">
            <div class="invisibleBorder"></div>
            <img class="logo" src="../../../assets/images/worldOfWarCraftFrozenThroneLogo2.jpg"
                alt="WORLD of WAR CRAFT logo" />

            <img class="bg-image" src="../../../assets/images/arthasTheLichKingSitingOnTheThrone.jpeg"
                alt="arthasTheLichKingSitingOnTheThrone" />
            <img class="front-image" src="../../../assets/images/arthasTheLichKingHalfBody.png"
                alt="arthasTheLichKing" />
        </div>
    </div>
    <div class="card">

        <div class="yoda">
            <img class="logo" src="https://assets.codepen.io/308367/yoda-logo.webp" alt="" />

            <img class="bg-image" src="https://assets.codepen.io/308367/yoda-on-dagobah.jpg"
                alt="yoda looking peaceful on dagobah" />
            <img class="front-image" src="https://assets.codepen.io/308367/yoda-front.png"
                alt="yoda holding his lightsabre up, the glow highlighting an angry look on his face" />
        </div>
    </div>
</div>